

.site-layout .site-layout-background {
  background: #fff;
  
}
.logo {
  background-image: url('./shop.svg');
  background-repeat: no-repeat;
  float: left;
  width: 31px;
  height: 31px;
  margin: 16px 24px 16px 0;
}

.float-right{
  float: right;
}